*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cap{
    background-image: url(./Rectangle_743_1_7f8d2f2596.png);
    background-position: center;
    background-size: cover;
    box-shadow: 2px gray;
    border-radius: 10px;
    background-color: brown;
}
.const a button{
    border: none;
    width: 200px;
}
.cant{
    background-image: url(./Rectangle_641_8fad2fb0b9.png);
    background-position: center;
    background-size: cover;
    box-shadow: 2px gray;
    border-radius: 10px;
    background-color: rgba(177, 177, 5, 0.849);
}
.canp{
    background-image: url(./Rectangle_747_5c282c2367.png);
    background-position: center;
    background-size: cover;
    box-shadow: 2px gray;
    border-radius: 10px;
    background-color: rgba(248, 248, 6, 0.849);
}

.campt{
    background-image: url(./Rectangle_749_1_ad236cc780.png);
    background-position: center;
    background-size: cover;
    box-shadow: 2px gray;
    border-radius: 10px;
    background-color: rgb(219, 34, 34);
}
.auto{
    position: relative;
    margin-top: 200px;
}
.auto button{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 20px;
    padding: 3px;
    margin-left: 40px;
}
.big img{
    -webkit-box-shadow: inset 100px 100px 100px 100px #000;    
    -moz-box-shadow: inset 100px 100px 100px 100px #000;
    box-shadow: inset 100px 100px 100px 100px black;
    position: absolute;
    background-color: black;
}

.rear{
    width: 80px;
    height: 80px;
    background-image: url("./112595.webp");
    background-position: center;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;

}
.rear1{
    width: 80px;
    height: 80px;
    background-image: url("./112601.webp");
    background-position: center;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;

}
.rear2{
    width: 80px;
    height: 80px;
    background-image: url("./113008.webp");
    background-position: center;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;

}
.rear3{
    width: 80px;
    height: 80px;
    background-image: url("./112737.webp");
    background-position: center;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;

}
.rear4{
    width: 80px;
    height: 80px;
    background-image: url("./113001.webp");
    background-position: center;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;

}
.col1 img:hover{
    border: 3px solid green;
}


@media(max-width:768px){
    .big img{
        width: 440px;
    }
    .auto{
        position: relative;
        margin-top: 150px;
        margin-left: -20px;
    }
}



